/EntityCodeGenerater/bin
/EntityCodeGenerater/obj
/EncodeDecodeUrl/bin
/EncodeDecodeUrl/obj
/BackUpWebSite/bin
/BackUpWebSite/obj
/CopySqliteToMSSql/obj
/CopySqliteToMSSql/bin
/FileRenamDelete/obj
/FileRenamDelete/bin
/GenRandomNum/bin
/GenRandomNum/obj
/SqlSearch/obj
/SqlSearch/bin
