<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>

      <target name="Info2File"
              xsi:type="File"
              layout="${level} ${longdate} ${message}"
              encoding="utf-8"
              archiveDateFormat="yyyyMMdd"
              fileName="${basedir}/logs/${level}/${shortdate}.log"
              createDirs="true"
              keepFileOpen="false"
          />
      <target name="Error2File"
              xsi:type="File"
              layout="${longdate} ${level}${newline} ${exception:format=tostring}${newline}"
              encoding="utf-8"
              archiveDateFormat="yyyyMMdd"
              fileName="${basedir}/logs/${level}/${shortdate}.log"
              createDirs="true"
              keepFileOpen="false"
          />
    </targets>
    <rules>
      <logger name="Info2File" minlevel="Error" writeTo="Info2File">

      </logger>
      <logger name="Error2File" minlevel="Info" writeTo="Error2File" />
    </rules>
  </nlog>
</configuration>