<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="languages" type="MSSqlserverPackage.LanguagesConfig,MSSqlserverPackage"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <languages>
    <language name="zh-CN" display="中文简体" isDefault ="true" path="\\languages\\ChineseSimplified.xml"/>
    <language name ="en" display="英语" />
  </languages>
</configuration>