<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="Info2File"
              xsi:type="File"
              layout="${longdate} ${message}"
              encoding="utf-8"
              archiveDateFormat="yyyyMMdd"
              fileName="${basedir}/logs/${level}/${shortdate}.log"
              createDirs="true"
              keepFileOpen="false"
          />
      <target name="Error2File"
              xsi:type="File"
              layout="${longdate} ${level}${newline} ${exception:format=tostring}${newline}"
              encoding="utf-8"
              archiveDateFormat="yyyyMMdd"
              fileName="${basedir}/logs/${level}/${shortdate}.log"
              createDirs="true"
              keepFileOpen="false"
          />
    </targets>
    <rules>
      <logger name="Info2File" minlevel="Error" writeTo="Info2File"/>
      <logger name="Error2File" minlevel="Info" writeTo="Error2File"/>
    </rules>
  </nlog>
</configuration>
